# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.venv/
.idea/
.vscode/
__pycache__/
mistral_models/

NetCore/Core/bin/Debug/net9.0/Core.deps.json
NetCore/Core/bin/Debug/net9.0/Core.dll
NetCore/Core/bin/Debug/net9.0/Core.exe
NetCore/Core/bin/Debug/net9.0/Core.pdb
NetCore/Core/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
NetCore/Core/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
NetCore/Core/obj/Debug/net9.0/apphost.exe
NetCore/Core/obj/Debug/net9.0/Core.AssemblyInfo.cs
NetCore/Core/obj/Debug/net9.0/Core.AssemblyInfoInputs.cache
NetCore/Core/obj/Debug/net9.0/Core.assets.cache
NetCore/Core/obj/Debug/net9.0/Core.csproj.AssemblyReference.cache
NetCore/Core/obj/Debug/net9.0/Core.csproj.CoreCompileInputs.cache
NetCore/Core/obj/Debug/net9.0/Core.csproj.FileListAbsolute.txt
NetCore/Core/obj/Debug/net9.0/Core.csproj.Up2Date
NetCore/Core/obj/Debug/net9.0/Core.dll
NetCore/Core/obj/Debug/net9.0/Core.pdb
NetCore/Core/obj/Debug/net9.0/Core.sourcelink.json
NetCore/Core/obj/Debug/net9.0/ref/Core.dll
NetCore/Core/obj/Debug/net9.0/refint/Core.dll
NetCore/Core.Tests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_Core.Tests
NetCore/Core.Tests/bin/Debug/net9.0/Core.deps.json
NetCore/Core.Tests/bin/Debug/net9.0/Core.dll
NetCore/Core.Tests/bin/Debug/net9.0/Core.exe
NetCore/Core.Tests/bin/Debug/net9.0/Core.pdb
NetCore/Core.Tests/bin/Debug/net9.0/Core.runtimeconfig.json
NetCore/Core.Tests/bin/Debug/net9.0/Core.Tests.deps.json
NetCore/Core.Tests/bin/Debug/net9.0/Core.Tests.dll
NetCore/Core.Tests/bin/Debug/net9.0/Core.Tests.pdb
NetCore/Core.Tests/bin/Debug/net9.0/Core.Tests.runtimeconfig.json
NetCore/Core.Tests/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
NetCore/Core.Tests/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
NetCore/Core.Tests/bin/Debug/net9.0/Microsoft.TestPlatform.CommunicationUtilities.dll
NetCore/Core.Tests/bin/Debug/net9.0/Microsoft.TestPlatform.CoreUtilities.dll
NetCore/Core.Tests/bin/Debug/net9.0/Microsoft.TestPlatform.CrossPlatEngine.dll
NetCore/Core.Tests/bin/Debug/net9.0/Microsoft.TestPlatform.PlatformAbstractions.dll
NetCore/Core.Tests/bin/Debug/net9.0/Microsoft.TestPlatform.Utilities.dll
NetCore/Core.Tests/bin/Debug/net9.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
NetCore/Core.Tests/bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.Common.dll
NetCore/Core.Tests/bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
NetCore/Core.Tests/bin/Debug/net9.0/Newtonsoft.Json.dll
NetCore/Core.Tests/bin/Debug/net9.0/testhost.dll
NetCore/Core.Tests/bin/Debug/net9.0/testhost.exe
NetCore/Core.Tests/bin/Debug/net9.0/xunit.abstractions.dll
NetCore/Core.Tests/bin/Debug/net9.0/xunit.assert.dll
NetCore/Core.Tests/bin/Debug/net9.0/xunit.core.dll
NetCore/Core.Tests/bin/Debug/net9.0/xunit.execution.dotnet.dll
NetCore/Core.Tests/bin/Debug/net9.0/xunit.runner.reporters.netcoreapp10.dll
NetCore/Core.Tests/bin/Debug/net9.0/xunit.runner.utility.netcoreapp10.dll
NetCore/Core.Tests/bin/Debug/net9.0/xunit.runner.visualstudio.testadapter.dll
NetCore/Core.Tests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NetCore/Core.Tests/bin/Debug/net9.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NetCore/Core.Tests/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
NetCore/Core.Tests/obj/Debug/net9.0/Core.Tests.AssemblyInfo.cs
NetCore/Core.Tests/obj/Debug/net9.0/Core.Tests.AssemblyInfoInputs.cache
NetCore/Core.Tests/obj/Debug/net9.0/Core.Tests.assets.cache
NetCore/Core.Tests/obj/Debug/net9.0/Core.Tests.csproj.AssemblyReference.cache
NetCore/Core.Tests/obj/Debug/net9.0/Core.Tests.csproj.CoreCompileInputs.cache
NetCore/Core.Tests/obj/Debug/net9.0/Core.Tests.csproj.FileListAbsolute.txt
NetCore/Core.Tests/obj/Debug/net9.0/Core.Tests.csproj.Up2Date
NetCore/Core.Tests/obj/Debug/net9.0/Core.Tests.dll
NetCore/Core.Tests/obj/Debug/net9.0/Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
NetCore/Core.Tests/obj/Debug/net9.0/Core.Tests.genruntimeconfig.cache
NetCore/Core.Tests/obj/Debug/net9.0/Core.Tests.pdb
NetCore/Core.Tests/obj/Debug/net9.0/Core.Tests.sourcelink.json
NetCore/Core.Tests/obj/Debug/net9.0/ref/Core.Tests.dll
NetCore/Core.Tests/obj/Debug/net9.0/refint/Core.Tests.dll

NetCore/Core/bin/Debug/
